Source: oxygen
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: debhelper (>= 9.0.0), cmake, pkg-kde-tools,
 extra-cmake-modules (>= 0.0.14), pkg-kde-tools,
 libkf5i18n-dev (>= 4.100.0), libkf5config-dev (>= 4.100.0),
 libkf5guiaddons-dev (>= 4.100.0), libkf5widgetsaddons-dev (>= 4.100.0),
 libkf5service-dev (>= 4.100.0), libkf5completion-dev (>= 4.100.0),
 libkf5style-dev (>= 4.100.0), libkf5windowsystem-dev (>= 4.100.0),
 qtbase5-dev, libqt5x11extras5-dev, libx11-dev, libxcb1-dev,
 libkf5coreaddons-dev (>= 4.100.0), libkf5dbusaddons-dev (>= 4.100.0),
 libkf5configwidgets-dev (>= 4.100.0), libkf5iconthemes-dev (>= 4.100.0),
 libkf5auth-dev (>= 4.100.0), libkf5codecs-dev (>= 4.100.0),
 libkf5itemviews-dev (>= 4.100.0),
 kwin-dev (>= 4.96.0), pkg-config
Standards-Version: 3.9.5
Section: kde
Homepage: https://projects.kde.org/projects/kde/workspace/oxygen

Package: oxygen-sounds
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sounds for the Oxygen desktop theme
 The Oxygen desktop theme is used by Plasma and other KDE Software.
 .
 This package contains the sounds.

Package: kwin-decoration-oxygen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KWin decoration for the Oxygen desktop theme
 The Oxygen desktop theme is used by Plasma and other KDE Software.
 .
 This package contains the KWin decoration and settings modules.

Package: kde-style-oxygen-qt5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt decoration for the Oxygen desktop theme
 The Oxygen desktop theme is used by Plasma and other KDE Software.
 .
 This package contains the Qt 5 widget theme.

Package: liboxygenstyle5-5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: style library for the Oxygen desktop theme
 The Oxygen desktop theme is used by Plasma and other KDE Software.
 .
 This package contains the private library used by the widget theme
 and KWin style.

Package: liboxygenstyleconfig5-5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: style library configuration for the Oxygen desktop theme
 The Oxygen desktop theme is used by Plasma and other KDE Software.
 .
 This package contains the private library used to configure the widget theme
 and KWin style.

Package: oxygen-dbg
Section: debug
Architecture: any
Recommends: qtbase5-dbg
Depends: ${misc:Depends}
Description: debugging symbols for the Oxygen desktop theme
 The Oxygen desktop theme is used by Plasma and other KDE Software.
 .
 This package contains the debugging symbols.
